{{#each formdata}}
    <div>
        <h1>{{this.name}}</h1>
        <p>{{this.address}},  {{this.country}}, {{this.occupation}} {{this.bank}} {{this.account}} {{this.IdNumber}} 
        {{this.sex}}, {{this.age}}, {{this.formalOccupation}} {{this.amount}} {{this.partnership}} </p>
        <form method="POST" action="/{{this._id}}?_method=DELETE">
            <button type="submit">Delete resource</button>
        </form>
    </div>
{{/each}}
